apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless
spec:
  template:
    spec:
      containers:
      - name: paperless
        env:
        - name: PAPERLESS_ADMIN_USER
          valueFrom:
            secretKeyRef:
              name: paperless-secret
              key: username
        - name: PAPERLESS_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: paperless-secret
              key: password
        # s6-overlay fix for OpenShift restricted SCC
        - name: S6_READ_ONLY_ROOT
          value: "1"
        - name: S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES
          value: "1"
        volumeMounts:
        - name: storage-mass
          mountPath: /usr/src/paperless/consume
          subPath: consume
        - name: storage-mass
          mountPath: /usr/src/paperless/data
          subPath: data
        - name: storage-mass
          mountPath: /usr/src/paperless/export
          subPath: export
        - name: storage-mass
          mountPath: /usr/src/paperless/media
          subPath: media
        # emptyDir for s6-overlay /run directory
        - name: run
          mountPath: /run
      volumes:
      - name: storage-mass
        persistentVolumeClaim:
          claimName: paperless-storage-mass
      - name: run
        emptyDir: {}
