---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: intel-gpu-plugin
  namespace: openshift-nfd
  labels:
    app: intel-gpu-plugin

---
# TODO: Create custom SCC that allows only:
#   - hostPath volumes for /dev/dri, /sys/class/drm, /var/lib/kubelet/device-plugins, /var/run/cdi
#   - SELinux type: container_device_plugin_t
#   - Run as UID 0
# This would follow principle of least privilege vs. using privileged SCC
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: intel-gpu-plugin-privileged
  namespace: openshift-nfd
  labels:
    app: intel-gpu-plugin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:privileged
subjects:
  - kind: ServiceAccount
    name: intel-gpu-plugin
    namespace: openshift-nfd
