---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: intel-gpu-plugin
  namespace: openshift-nfd
  labels:
    app: intel-gpu-plugin

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: intel-gpu-plugin-hostaccess
  namespace: openshift-nfd
  labels:
    app: intel-gpu-plugin
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:hostaccess
subjects:
  - kind: ServiceAccount
    name: intel-gpu-plugin
    namespace: openshift-nfd
