apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/redhat-cop/gitops-catalog/nfd/operator/overlays/stable?ref=main
  - nfd-instance.yaml

  # Deploy intel device plugins for kubernetes
  # - https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/nfd?ref=v0.31.1

  # Create NodeFeatureRules for detecting GPUs on nodes
  - https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/nfd/overlays/node-feature-rules?ref=v0.34.1

  # Create GPU plugin daemonset
  - https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/gpu_plugin/overlays/nfd_labeled_nodes?ref=v0.34.1

  # RBAC for Intel GPU plugin to use hostaccess SCC
  - intel-gpu-plugin-rbac.yaml

  # Intel GPU metrics exporter for Prometheus
  - intel-gpu-exporter.yaml
  - intel-gpu-exporter-servicemonitor.yaml

namespace: openshift-nfd

# Exclude the node-feature-discovery Namespace from Intel resources
# to avoid conflict with openshift-nfd Namespace from redhat-cop
# patches:
#   - patch: |-
#       apiVersion: v1
#       kind: Namespace
#       metadata:
#         name: node-feature-discovery
#       $patch: delete

# Patch NodeFeatureRule to use OpenShift API group
patches:
  - target:
      kind: NodeFeatureRule
    patch: |-
      - op: replace
        path: /apiVersion
        value: nfd.openshift.io/v1alpha1

  # Add ServiceAccount to Intel GPU plugin DaemonSet for SCC permissions
  - target:
      kind: DaemonSet
      name: intel-gpu-plugin
    patch: |-
      - op: add
        path: /spec/template/spec/serviceAccountName
        value: intel-gpu-plugin

  # Configure GPU sharing - allow 5 containers per GPU (only 1 GPU in cluster)
  - target:
      kind: DaemonSet
      name: intel-gpu-plugin
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: -shared-dev-num
      - op: add
        path: /spec/template/spec/containers/0/args/-
        value: "5"