apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://github.com/redhat-cop/gitops-catalog/nfd/operator/overlays/stable?ref=main
  - nfd-instance.yaml

  # Deploy intel device plugins for kubernetes
  # - https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/nfd?ref=v0.31.1

  # Create NodeFeatureRules for detecting GPUs on nodes
  - https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/nfd/overlays/node-feature-rules?ref=v0.31.1

  # Create GPU plugin daemonset
  - https://github.com/intel/intel-device-plugins-for-kubernetes/deployments/gpu_plugin/overlays/nfd_labeled_nodes?ref=v0.31.1

namespace: openshift-nfd

# Exclude the node-feature-discovery Namespace from Intel resources
# to avoid conflict with openshift-nfd Namespace from redhat-cop
# patches:
#   - patch: |-
#       apiVersion: v1
#       kind: Namespace
#       metadata:
#         name: node-feature-discovery
#       $patch: delete