# Refernece: https://docs.redhat.com/en/documentation/red_hat_openshift_dev_spaces/3.24/html/administration_guide/configuring-devspaces#checluster-custom-resource-fields-reference
kind: CheCluster
apiVersion: org.eclipse.che/v2
metadata:
  name: devspaces
  namespace: openshift-devspaces
spec:
  components:
    pluginRegistry:
      openVSXURL: https://open-vsx.org
  containerRegistry: {}
  devEnvironments:
    # Allow running nested containers using tools like Podman (OpenShift 4.20+)
    disableContainerRunCapabilities: false
    # https://docs.redhat.com/en/documentation/red_hat_openshift_dev_spaces/3.24/html/administration_guide/configuring-devspaces#limiting-the-number-of-workspaces-that-all-users-can-run-simultaneously
    maxNumberOfRunningWorkspacesPerCluster: -1  # Unlimited.
    maxNumberOfRunningWorkspacesPerUser: -1     # Unlimited.
    maxNumberOfWorkspacesPerUser: -1            # Unlimited.
    persistUserHome:
      enabled: false
    # # https://docs.redhat.com/en/documentation/red_hat_openshift_dev_spaces/3.24/html/administration_guide/configuring-devspaces#preventing-automatic-stopping-of-idle-workspaces
    # # Disable automatic workspace stopping due to inactivity
    # secondsOfInactivityBeforeIdling: -1         # Disabled (-1 = never stop).
    storage:
      pvcStrategy: per-workspace
      perWorkspaceStrategyPvcConfig:
        claimSize: 5Gi
  gitServices: {}
  networking: {}