# Refernece: https://docs.redhat.com/en/documentation/red_hat_openshift_dev_spaces/3.24/html/administration_guide/configuring-devspaces#checluster-custom-resource-fields-reference
kind: CheCluster
apiVersion: org.eclipse.che/v2
metadata:
  name: devspaces
  namespace: openshift-devspaces
spec:
  components: {}
  containerRegistry: {}
  devEnvironments:
    # https://docs.redhat.com/en/documentation/red_hat_openshift_dev_spaces/3.24/html/administration_guide/configuring-devspaces#limiting-the-number-of-workspaces-that-all-users-can-run-simultaneously
    maxNumberOfRunningWorkspacesPerCluster: -1  # Unlimited.
    maxNumberOfRunningWorkspacesPerUser: -1     # Unlimited.
    maxNumberOfWorkspacesPerUser: -1            # Unlimited.
    storage:
      pvcStrategy: per-workspace
      perWorkspaceStrategyPvcConfig:
        claimSize: 5Gi
  gitServices: {}
  networking: {}