apiVersion: config.openshift.io/v1
kind: APIServer
metadata:
  name: cluster
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  servingCerts:
    namedCertificates:
    - names:
      - "api.ocp-home.rh-lab.morey.tech"
      servingCertificate:
        name: api-server-cert
