---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: system:openshift:scc:allowed-uid-3001
rules:
  - apiGroups:
      - security.openshift.io
    resourceNames:
      - allowed-uid-3001
    resources:
      - securitycontextconstraints
    verbs:
      - use
