apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nfs-batch-job-file-storage
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
  selector:
    matchLabels:
      name: nfs-batch-job-file-storage