---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: must-run-as-3001
  annotations:
    kubernetes.io/description: |
      This SCC enforces that pods must run as UID 3001 (serviceaccount user).
      Supplemental groups can be set to any value. This is useful for scenarios
      where you need to ensure consistent UID mapping to NFS servers while
      allowing flexible group membership.
allowHostDirVolumePlugin: false
allowHostIPC: false
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
allowPrivilegeEscalation: false
allowPrivilegedContainer: false
allowedCapabilities: null
defaultAddCapabilities: null
fsGroup:
  type: RunAsAny
groups: []
priority: 10
readOnlyRootFilesystem: false
requiredDropCapabilities:
  - KILL
  - MKNOD
  - SETUID
  - SETGID
runAsUser:
  type: MustRunAs
  uid: 3001
seLinuxContext:
  type: MustRunAs
supplementalGroups:
  type: RunAsAny
users: []
volumes:
  - configMap
  - downwardAPI
  - emptyDir
  - persistentVolumeClaim
  - projected
  - secret
