apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless
spec:
  template:
    spec:
      containers:
      - name: paperless
        env:
        - name: PAPERLESS_ADMIN_USER
          valueFrom:
            secretKeyRef:
              name: paperless-secret
              key: username
        - name: PAPERLESS_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: paperless-secret
              key: password
        volumeMounts:
        - name: storage-mass
          mountPath: /storage-mass
      volumes:
      - name: storage-mass
        persistentVolumeClaim:
          claimName: paperless-storage-mass