apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: paperless
resources:
  - secret.yaml
  - pv.yaml
  - pvc.yaml

patches:
- path: deployment-patch.yaml

helmCharts:
- name: paperless
  includeCRDs: true
  version: 8.8.3
  repo: https://k8s-at-home.com/charts/
  releaseName: paperless
  namespace: paperless
  valuesInline:
    image:
      # https://github.com/paperless-ngx/paperless-ngx/pkgs/container/paperless-ngx/versions?filters%5Bversion_type%5D=tagged
      tag: 2.18.4
      pullPolicy: IfNotPresent
    env:
      PAPERLESS_TIME_ZONE: America/New_York
      PAPERLESS_OCR_LANGUAGE: eng
      PAPERLESS_CONSUMER_POLLING: 60
      PAPERLESS_REDIS: redis://paperless-redis-headless:6379
      PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true}'  # https://github.com/paperless-ngx/paperless-ngx/discussions/4047#discussion-5544405
    ingress:
      main:
        enabled: true
        annotations:
          kubernetes.io/ingress.class: ingress-nginx-internal
          cert-manager.io/cluster-issuer: letsencrypt
          nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
          nginx.ingress.kubernetes.io/ssl-redirect: "true"
          # nginx.ingress.kubernetes.io/whitelist-source-range: "192.168.0.0/16,172.16.0.0/12"
          nginx.ingress.kubernetes.io/proxy-body-size: 1024m
          # # Set the target to the cluster apex domain.
          # # Defaults to the LoadBalancer IP, which is local only.
          # external-dns.alpha.kubernetes.io/target: rubrik.lab.home.morey.tech
          # # Enable External DNS for this Ingress.
          # external-dns.alpha.kubernetes.io/exclude: 'true'
        hosts:
          - host: paperless.rubrik.lab.home.morey.tech
            paths:
            - path: /
              pathType: Prefix
        tls:
        - secretName: paperless.rubrik.lab.home.morey.tech
          hosts:
          - paperless.rubrik.lab.home.morey.tech
    persistence:
      consume:
        enabled: true
        type: nfs
        server: "192.168.3.19"
        path: /storage-mass/rubrik/paperless/consume
        mountPath: /usr/src/paperless/consume
      data:
        enabled: true
        # nameOverride: paperless-data
        storageClass: longhorn
        size: 25Gi
      media:
        enabled: true
        # nameOverride: paperless-media
        storageClass: longhorn
        size: 25Gi
        mountPath: /usr/src/paperless/media
      export:
        enabled: true
        # nameOverride: paperless-export
        storageClass: longhorn
        size: 25Gi
        mountPath: /usr/src/paperless/export
    redis:
      enabled: true
      image:
        pullPolicy: IfNotPresent
      architecture: standalone
      auth:
        enabled: false
      master:
        persistence:
          enabled: false