apiVersion: v1
kind: ConfigMap
metadata:
  name: model-download-config
data:
  # format: repo_id file_name
  MODEL: "unsloth/Qwen3-Coder-30B-A3B-Instruct-GGUF Qwen3-Coder-30B-A3B-Instruct-Q4_K_M.gguf"
