apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich

resources:
  - pv-data.yaml
  - pvc-data.yaml
  - postgresql-credentials-secret.yaml
  - postgresql-cluster.yaml
  - pvc-ml-cache.yaml
  - ingress-parents.yaml

helmCharts:
- name: immich
  includeCRDs: true
  version: 0.10.3
  repo: https://immich-app.github.io/immich-charts
  releaseName: immich
  namespace: immich
  valuesInline:
    controllers:
      main:
        containers:
          main:
            image:
              # https://github.com/immich-app/immich/pkgs/container/immich-server
              # renovate: datasource=docker depName=ghcr.io/immich-app/immich-server
              tag: v2.4.1
            env:
              DB_HOSTNAME: immich-postgresql-rw
              DB_USERNAME: immich
              DB_DATABASE_NAME: immich
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-postgres-credentials
                    key: password

    immich:
      persistence:
        library:
          existingClaim: immich-data-storage-mass

    valkey:
      enabled: true

    server:
      controllers:
        main:
          containers:
            main:
              resources:
                requests:
                  gpu.intel.com/i915: "1"
                limits:
                  gpu.intel.com/i915: "1"
      ingress:
        main:
          enabled: true
          className: openshift-default
          annotations:
            route.openshift.io/termination: edge  # use default router certificate for TLS termination.
          hosts:
            - host: immich.apps.ocp-home.rh-lab.morey.tech
              paths:
                - path: /
                  service:
                    identifier: main

    machine-learning:
      persistence:
        cache:
          type: persistentVolumeClaim
          existingClaim: immich-ml-cache
      controllers:
        main:
          containers:
            main:
              image:
                # renovate: datasource=docker depName=ghcr.io/immich-app/immich-machine-learning
                tag: v2.4.1-openvino
              probes:
                liveness:
                  spec:
                    periodSeconds: 30
                    timeoutSeconds: 30
              resources:
                requests:
                  gpu.intel.com/i915: "1"
                limits:
                  gpu.intel.com/i915: "1"
