apiVersion: v1
kind: ServiceAccount
metadata:
  name: immich-machine-learning
  namespace: immich
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: immich-ml-privileged
  namespace: immich
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:openshift:scc:privileged
subjects:
  - kind: ServiceAccount
    name: immich-machine-learning
    namespace: immich
