apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-ml-cache
  labels:
    app: immich
    component: machine-learning
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
