apiVersion: oadp.openshift.io/v1alpha1
kind: DataProtectionApplication
metadata:
  name: velero
  namespace: openshift-adp
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  backupImages: false
  # Use noDefaultBackupLocation since we're using a custom provider (local-volume-provider)
  # that OADP doesn't recognize during DPA validation. The BSL is created separately.
  configuration:
    velero:
      noDefaultBackupLocation: true
      defaultPlugins:
        - openshift
        - csi
      customPlugins:
        - name: local-volume-provider
          image: replicated/local-volume-provider:v0.3.3
      featureFlags:
        - EnableCSI
    nodeAgent:
      enable: true
      uploaderType: kopia
      podConfig:
        nodeSelector:
          kubernetes.io/os: linux
