kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ccpt-db
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
  storageClassName: lvms-lvm-nvme0n1-vg
  volumeMode: Filesystem
