---
- name: Install Grafana Alloy on Linux
  hosts:
    - debian-12.lab.morey.tech
    - desktop-nick.home.morey.tech
    - rubrik-nodes
    - pvems-nodes
  become: true
  tasks:
    - name: Install alloy on Debian
      when: ansible_facts['os_family'] == "Debian"
      block:
        - name: Install prerequisites
          ansible.builtin.apt:
            name:
              - apt-transport-https
              - ca-certificates
              - curl
              - gnupg
              - lsb-release
            state: present
            update_cache: true

        - name: Add Grafana repository
          ansible.builtin.deb822_repository:
            name: grafana
            types: [deb]
            uris: "https://apt.grafana.com"
            suites: [stable]
            components: [main]
            signed_by: https://apt.grafana.com/gpg.key
            state: present
            enabled: true

        - name: Update package cache
          ansible.builtin.apt:
            update_cache: true

        - name: Install Grafana Alloy
          ansible.builtin.apt:
            name: alloy
            state: present

    - name: Install alloy on RedHat
      when: ansible_facts['os_family'] == "RedHat"
      block:
        - name: Install prerequisites
          ansible.builtin.dnf:
            name:
              - gpg
            state: present
            update_cache: true

        - name: Add Grafana GPG key
          ansible.builtin.rpm_key:
            key: https://apt.grafana.com/gpg.key
            state: present

        - name: Add Grafana repository
          ansible.builtin.yum_repository:
            name: grafana
            description: Grafana
            baseurl: https://rpm.grafana.com
            gpgcheck: true
            repo_gpgcheck: true
            enabled: true
            gpgkey: https://rpm.grafana.com/gpg.key
            sslverify: true
            sslcacert: /etc/pki/tls/certs/ca-bundle.crt

        - name: Update package cache
          ansible.builtin.dnf:
            update_cache: true

        - name: Install Grafana Alloy
          ansible.builtin.dnf:
            name: alloy
            state: present

    - name: Render Alloy configuration
      ansible.builtin.template:
        src: config.alloy.j2
        dest: /etc/alloy/config.alloy
        mode: '0644'
      notify:
        - Restart Alloy service
      vars:
        prom_host: monitoring.lab.morey.tech:9090
        loki_host: monitoring.lab.morey.tech:3100

    - name: Ensure Grafana Alloy service is enabled and started
      ansible.builtin.systemd:
        name: alloy
        state: started
        enabled: true

  handlers:
    - name: Restart Alloy service
      ansible.builtin.systemd:
        name: alloy
        state: restarted
