---
- name: Destroy Lab LXC Containers
  hosts:
    - batch-job.lab.morey.tech
    - nfs.lab.morey.tech
  gather_facts: false
  become: true
  serial: 1  # Destroy one at a time, batch-job first to safely unmount NFS
  vars:
    pve_api: &pve_api
      api_user: "{{ pve_api_user }}"
      api_token_id: "{{ pve_api_token_id }}"
      api_token_secret: "{{ pve_api_token_secret }}"
      api_host: "{{ pve_api_host }}"
    template_name: "debian-12-standard_12.12-1_amd64.tar.zst"
    delete_lxc_os_template: false

  vars_prompt:
    - name: "destroy_confirmation"
      prompt: "Do you want to destroy the NFS containers (nfs.lab.morey.tech and batch-job.lab.morey.tech)? (yes/no)"
      private: false

  tasks:
    - name: Fail if not confirmed
      ansible.builtin.fail:
        msg: "Destruction cancelled - confirmation not received"
      when: "destroy_confirmation != 'yes'"

    - name: Stop LXC container
      community.proxmox.proxmox:
        <<: *pve_api
        node: "{{ pve_node }}"
        vmid: "{{ pve_vm_id }}"
        hostname: "{{ inventory_hostname_short }}"
        state: stopped
        force: true
        timeout: 15
      delegate_to: localhost
      ignore_errors: true

    - name: Delete LXC container
      community.proxmox.proxmox:
        <<: *pve_api
        node: "{{ pve_node }}"
        vmid: "{{ pve_vm_id }}"
        hostname: "{{ inventory_hostname_short }}"
        state: absent
      delegate_to: localhost

    - name: Delete DHCP static mapping
      pfsensible.core.pfsense_dhcp_static:
        netif: opt1
        macaddr: "{{ mac_address }}"
        state: absent
      delegate_to: pfsense.home.morey.tech

    - name: Delete LXC OS template
      community.proxmox.proxmox_template:
        <<: *pve_api
        node: "{{ pve_node }}"
        storage: storage-pve
        content_type: vztmpl
        template: "{{ template_name }}"
        state: absent
      delegate_to: localhost
      when: delete_lxc_os_template | default(false) | bool
      run_once: true
