---
- name: Destroy Batch Job LXC
  hosts:
    - batch-job.lab.morey.tech
  gather_facts: false
  become: true
  vars:
    pve_api: &pve_api_batch
      api_user: "{{ pve_api_user }}"
      api_token_id: "{{ pve_api_token_id }}"
      api_token_secret: "{{ pve_api_token_secret }}"
      api_host: "{{ pve_api_host }}"

  vars_prompt:
    - name: "destroy_confirmation"
      prompt: "Do you want to destroy the NFS containers (nfs.lab.morey.tech and batch-job.lab.morey.tech)? (yes/no)"
      private: false

  tasks:
    - name: Fail if not confirmed
      ansible.builtin.fail:
        msg: "Destruction cancelled - confirmation not received"
      when: "destroy_confirmation != 'yes'"

    - name: Stop Batch Job LXC container
      community.general.proxmox:
        <<: *pve_api_batch
        node: "{{ pve_node }}"
        vmid: "{{ pve_vm_id }}"
        state: stopped
        force: true
        timeout: 15
      delegate_to: localhost
      ignore_errors: true

    - name: Delete Batch Job LXC container
      community.general.proxmox:
        <<: *pve_api_batch
        node: "{{ pve_node }}"
        vmid: "{{ pve_vm_id }}"
        state: absent
      delegate_to: localhost

    - name: Delete Batch Job DHCP static mapping
      pfsensible.core.pfsense_dhcp_static:
        netif: opt1
        macaddr: "{{ mac_address }}"
        state: absent
      delegate_to: pfsense.home.morey.tech

- name: Destroy NFS Server LXC
  hosts:
    - nfs.lab.morey.tech
  gather_facts: false
  become: true
  vars:
    pve_api: &pve_api_nfs
      api_user: "{{ pve_api_user }}"
      api_token_id: "{{ pve_api_token_id }}"
      api_token_secret: "{{ pve_api_token_secret }}"
      api_host: "{{ pve_api_host }}"
    delete_lxc_os_template: false

  tasks:
    - name: Stop NFS Server LXC container
      community.general.proxmox:
        <<: *pve_api_nfs
        node: "{{ pve_node }}"
        vmid: "{{ pve_vm_id }}"
        state: stopped
        force: true
        timeout: 15
      delegate_to: localhost
      ignore_errors: true

    - name: Delete NFS Server LXC container
      community.general.proxmox:
        <<: *pve_api_nfs
        node: "{{ pve_node }}"
        vmid: "{{ pve_vm_id }}"
        state: absent
      delegate_to: localhost

    - name: Delete NFS Server DHCP static mapping
      pfsensible.core.pfsense_dhcp_static:
        netif: opt1
        macaddr: "{{ mac_address }}"
        state: absent
      delegate_to: pfsense.home.morey.tech

    - name: Delete LXC OS template
      community.general.proxmox_template:
        <<: *pve_api_nfs
        node: "{{ pve_node }}"
        storage: storage-pve
        content_type: vztmpl
        template: debian-12-standard_12.12-1_amd64.tar.zst
        state: absent
      delegate_to: localhost
      when: delete_lxc_os_template | bool
