---
- name: Create NFS LXC
  hosts:
    - nfs.lab.morey.tech
  gather_facts: false  # Hosts aren't available, since this playbook creates them.
  become: true
  vars:
    storage: "storage-pve"  # Adjust to your storage name
    template_name: "debian-12-standard_12.12-1_amd64.tar.zst"
    pve_api: &pve_api
      api_user: "{{ pve_api_user }}"
      api_token_id: "{{ pve_api_token_id }}"
      api_token_secret: "{{ pve_api_token_secret }}"
      api_host: "{{ pve_api_host }}"

  tasks:
    - name: Download LXC OS template to Proxmox storage
      community.general.proxmox_template:
        <<: *pve_api
        node: "{{ pve_node }}"
        storage: "{{ storage }}"
        content_type: "vztmpl"
        template: "{{ template_name }}"
        state: present
      delegate_to: localhost

    - name: Create LXC container
      community.general.proxmox:
        <<: *pve_api
        node: "{{ pve_node }}"
        vmid: "{{ pve_vm_id }}"
        hostname: "{{ inventory_hostname_short }}"
        ostemplate: "{{ storage }}:vztmpl/{{ template_name }}"
        memory: 2048
        cores: 2
        unprivileged: false  # Required for NFS server
        disk_volume:
          storage: local-nvme
          size: 50
        netif: '{"net0":"name=eth0,hwaddr={{ mac_address }},ip={{ ip_address }}/{{ net_prefix }},gw={{ gateway_ip }},bridge=vmbr0,tag={{ vlan_tag }}"}'
        nameserver: "{{ gateway_ip }}"
        searchdomain: "{{ cluster_dns_zone }}"
        pubkey: "{{ ssh_authorized_keys }}"
        state: present
      delegate_to: localhost

    - name: Configure LXC features for NFS server
      ansible.builtin.lineinfile:
        path: "/etc/pve/lxc/{{ pve_vm_id }}.conf"
        regexp: '^features:'
        line: 'features: nesting=1,mount=nfs'
        state: present
      delegate_to: "{{ pve_node }}.home.morey.tech"
      become: true

    - name: Create DHCP static mapping
      pfsensible.core.pfsense_dhcp_static:
        netif: opt1
        hostname: "{{ inventory_hostname_short }}"
        macaddr: "{{ mac_address }}"
        ipaddr: "{{ ip_address }}"
        ddnsdomainkeyalgorithm: "hmac-md5"  # fixes diff.
        state: present
      # become: false
      delegate_to: pfsense.home.morey.tech

    - name: Start LXC container
      community.general.proxmox:
        <<: *pve_api
        vmid: "{{ pve_vm_id }}"
        state: started
      delegate_to: localhost

    - name: Add LXC container to inventory
      ansible.builtin.add_host:
        name: "{{ inventory_hostname_short }}.{{ cluster_dns_zone }}"
        ansible_host: "{{ ip_address }}"
        ansible_user: root
      changed_when: false

- name: Configure NFS Server
  hosts: nfs.lab.morey.tech
  gather_facts: false
  become: true

  tasks:
    - name: Wait for SSH to come up
      ansible.builtin.wait_for:
        host: "{{ ip_address }}"
        port: 22
        timeout: 300
      delegate_to: localhost

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Install NFS server
      ansible.builtin.apt:
        name: nfs-kernel-server
        state: present

    - name: Create NFS export directory
      ansible.builtin.file:
        path: /srv/nfs/share
        state: directory
        mode: '0755'
        owner: root
        group: root

    - name: Configure NFS exports
      ansible.builtin.blockinfile:
        path: /etc/exports
        block: |
          /srv/nfs/share 192.168.1.0/24(rw,sync,no_subtree_check,root_squash)
          /srv/nfs/share 192.168.3.0/24(rw,sync,no_subtree_check,root_squash)
          /srv/nfs/share 192.168.6.0/24(rw,sync,no_subtree_check,root_squash)
        marker: "# {mark} ANSIBLE MANAGED BLOCK - NFS Exports"
        create: true
        mode: '0644'
      notify: Restart NFS server

    - name: Ensure NFS server is enabled and started
      ansible.builtin.systemd:
        name: nfs-kernel-server
        state: started
        enabled: true

    - name: Export NFS shares
      ansible.builtin.command: exportfs -a
      changed_when: false

  handlers:
    - name: Restart NFS server
      ansible.builtin.systemd:
        name: nfs-kernel-server
        state: restarted

- name: Create Batch Job LXC
  hosts:
    - batch-job.lab.morey.tech
  gather_facts: false  # Hosts aren't available, since this playbook creates them.
  become: true
  vars:
    storage: "storage-pve"  # Adjust to your storage name
    template_name: "debian-12-standard_12.12-1_amd64.tar.zst"
    pve_api: &pve_api_batch
      api_user: "{{ pve_api_user }}"
      api_token_id: "{{ pve_api_token_id }}"
      api_token_secret: "{{ pve_api_token_secret }}"
      api_host: "{{ pve_api_host }}"

  tasks:
    - name: Download LXC OS template to Proxmox storage
      community.general.proxmox_template:
        <<: *pve_api_batch
        node: "{{ pve_node }}"
        storage: "{{ storage }}"
        content_type: "vztmpl"
        template: "{{ template_name }}"
        state: present
      delegate_to: localhost

    - name: Create LXC container
      community.general.proxmox:
        <<: *pve_api_batch
        node: "{{ pve_node }}"
        vmid: "{{ pve_vm_id }}"
        hostname: "{{ inventory_hostname_short }}"
        ostemplate: "{{ storage }}:vztmpl/{{ template_name }}"
        memory: 2048
        cores: 2
        unprivileged: false  # Required for NFS server
        disk_volume:
          storage: local-nvme
          size: 24
        netif: '{"net0":"name=eth0,hwaddr={{ mac_address }},ip={{ ip_address }}/{{ net_prefix }},gw={{ gateway_ip }},bridge=vmbr0,tag={{ vlan_tag }}"}'
        nameserver: "{{ gateway_ip }}"
        searchdomain: "{{ cluster_dns_zone }}"
        pubkey: "{{ ssh_authorized_keys }}"
        state: present
      delegate_to: localhost

    - name: Configure LXC features for batch job
      ansible.builtin.lineinfile:
        path: "/etc/pve/lxc/{{ pve_vm_id }}.conf"
        regexp: '^features:'
        line: 'features: nesting=1'
        state: present
      delegate_to: "{{ pve_node }}.home.morey.tech"
      become: true

    - name: Create DHCP static mapping
      pfsensible.core.pfsense_dhcp_static:
        netif: opt1
        hostname: "{{ inventory_hostname_short }}"
        macaddr: "{{ mac_address }}"
        ipaddr: "{{ ip_address }}"
        ddnsdomainkeyalgorithm: "hmac-md5"  # fixes diff.
        state: present
      # become: false
      delegate_to: pfsense.home.morey.tech

    - name: Start LXC container
      community.general.proxmox:
        <<: *pve_api_batch
        vmid: "{{ pve_vm_id }}"
        state: started
      delegate_to: localhost

    - name: Add LXC container to inventory
      ansible.builtin.add_host:
        name: "{{ inventory_hostname_short }}.{{ cluster_dns_zone }}"
        ansible_host: "{{ ip_address }}"
        ansible_user: root
      changed_when: false

- name: Configure Batch Job as NFS Client
  hosts: batch-job.lab.morey.tech
  gather_facts: false
  become: true

  tasks:
    - name: Wait for SSH to come up
      ansible.builtin.wait_for:
        host: "{{ ip_address }}"
        port: 22
        timeout: 300
      delegate_to: localhost

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Install NFS client
      ansible.builtin.apt:
        name: nfs-common
        state: present

    - name: Create NFS mount point
      ansible.builtin.file:
        path: /mnt/nfs/share
        state: directory
        mode: '0755'
        owner: root
        group: root

    - name: Mount NFS share
      ansible.posix.mount:
        path: /mnt/nfs/share
        src: nfs.lab.morey.tech:/srv/nfs/share
        fstype: nfs
        opts: rw,sync,hard,intr,rsize=8192,wsize=8192
        state: mounted

    - name: Verify NFS mount
      ansible.builtin.command: mountpoint -q /mnt/nfs/share
      changed_when: false
      failed_when: false
      register: mount_check

    - name: Display mount status
      ansible.builtin.debug:
        msg: "NFS share successfully mounted at /mnt/nfs/share"
      when: mount_check.rc == 0
